(
    axes: {
        "move_x": Emulated(
            pos: Key(F),
            neg: Key(S),
        ),
        "move_y": Emulated(
            pos: Key(R),
            neg: Key(W),
        ),
        "move_z": Emulated(
            pos: Key(D),
            neg: Key(E),
        ),
    },
    actions: {

    },
)
